@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    overflow: hidden;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(197, 195, 195, 0.575);
    padding: 30px;
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 20px;
    -webkit-box-shadow: 0 30px 60px 0 rgb(0, 0, 0);
    box-shadow: 0 30px 60px 0 rgb(0, 0, 0);
    text-align: center;
    left: calc(30% - 255px);
}

.body {
    position: absolute;
    top: -220px;
    left: -1px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(https://cdn.glitch.com/e71bec93-401f-4b37-bde5-d8aa20eeffbd%2Frsz_ryan-plomp-bpqmvbizcbm-unsplash_2.jpg?v=1595424616027);
    background-size: cover;
    z-index: 0;
}

.grad {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

.header {
    position: absolute;
    top: calc(28% - 35px);
    left: calc(60% - 255px);
    z-index: 2;
}

.header div {
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-emphasis: currentcolor;
}

.header div span {
    color: #000000 !important;
}

.login {
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.login input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    color: rgb(0, 0, 0);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.623);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login a[type=submit] {
    width: 260px;
    height: 35px;
    background: rgba(0, 0, 0, 0.815);
    border: 1px solid rgba(0, 0, 0, 0.541);
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    text-align: center;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=text]:focus {
    outline: none;
    border: 1px solid rgb(0, 199, 235);
}

.login input[type=password]:focus {
    outline: none;
    border: 1px solid rgb(0, 225, 255);
}

.login input[type=button]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}

::-moz-input-placeholder {
    color: rgb(0, 0, 0)
}